.DS_Store
src/__pycache__/changeyaml.cpython-310.pyc
src/__pycache__/get_data.cpython-310.pyc
src/__pycache__/get_key.cpython-310.pyc
src/__pycache__/resources_rc.cpython-310.pyc
src/__pycache__/send_file.cpython-310.pyc
ui/__pycache__/ui_mainwindow.cpython-310.pyc
activate.lnk
src/__pycache__/changeyaml.cpython-312.pyc
src/__pycache__/get_data.cpython-312.pyc
src/__pycache__/resources_rc.cpython-312.pyc
ui/__pycache__/ui_mainwindow.cpython-312.pyc
src/__pycache__/get_calendar_data.cpython-312.pyc
TAMUSPE-Windows/__pycache__/changeyaml.cpython-310.pyc
TAMUSPE-Windows/__pycache__/changeyaml.cpython-311.pyc
TAMUSPE-Windows/__pycache__/changeyaml.cpython-312.pyc
TAMUSPE-Windows/__pycache__/get_calendar_data.cpython-310.pyc
TAMUSPE-Windows/__pycache__/get_data.cpython-310.pyc
TAMUSPE-Windows/__pycache__/get_data.cpython-311.pyc
TAMUSPE-Windows/__pycache__/get_data.cpython-312.pyc
TAMUSPE-Windows/__pycache__/get_key.cpython-311.pyc
TAMUSPE-Windows/__pycache__/get_response_key.cpython-310.pyc
TAMUSPE-Windows/__pycache__/resources_rc.cpython-310.pyc
TAMUSPE-Windows/__pycache__/resources_rc.cpython-311.pyc
TAMUSPE-Windows/__pycache__/resources_rc.cpython-312.pyc
TAMUSPE-Windows/__pycache__/send_file.cpython-310.pyc
TAMUSPE-Windows/__pycache__/send_file.cpython-311.pyc
TAMUSPE-Windows/__pycache__/store_userid_version.cpython-310.pyc
TAMUSPE-Windows/__pycache__/store_userid_version.cpython-311.pyc
TAMUSPE-Windows/__pycache__/store_userid_version.cpython-312.pyc
TAMUSPE-Windows/__pycache__/ui_mainwindow.cpython-310.pyc
TAMUSPE-Windows/__pycache__/ui_mainwindow.cpython-311.pyc
TAMUSPE-Windows/__pycache__/ui_mainwindow.cpython-312.pyc
TAMUSPE-Windows/.idea/.gitignore
TAMUSPE-Windows/.idea/.name
TAMUSPE-Windows/.idea/misc.xml
TAMUSPE-Windows/.idea/modules.xml
TAMUSPE-Windows/.idea/TAMUSPE-Windows.iml
TAMUSPE-Windows/.idea/inspectionProfiles/profiles_settings.xml
TAMUSPE-MacOS/src/__pycache__/changeyaml.cpython-312.pyc
TAMUSPE-MacOS/src/__pycache__/get_calendar_data.cpython-312.pyc
TAMUSPE-MacOS/src/__pycache__/get_data.cpython-312.pyc
TAMUSPE-MacOS/src/__pycache__/resources_rc.cpython-312.pyc
TAMUSPE-MacOS/ui/__pycache__/ui_mainwindow.cpython-312.pyc
TAMUSPE-Windows/src/__pycache__/changeyaml.cpython-310.pyc
TAMUSPE-Windows/src/__pycache__/get_calendar_data.cpython-310.pyc
TAMUSPE-Windows/src/__pycache__/get_response_key.cpython-310.pyc
TAMUSPE-Windows/src/__pycache__/resources_rc.cpython-310.pyc
TAMUSPE-Windows/src/__pycache__/send_file.cpython-310.pyc
TAMUSPE-Windows/src/__pycache__/store_userid_version.cpython-310.pyc
TAMUSPE-Windows/src/__pycache__/ui_mainwindow.cpython-310.pyc
Windows/User/settings.yaml
Windows/last_saved_data.parquet
Windows/User/last_cal_data.parquet
Windows/User
Windows/Deployment/TAMU-SPE.exe
Windows/Deployment/Installer/TAMUSPE-Setup-Windows-x64.exe
MacOS/src/__pycache__/changeyaml.cpython-311.pyc
MacOS/src/__pycache__/get_calendar_data.cpython-311.pyc
MacOS/src/__pycache__/get_response_key.cpython-311.pyc
MacOS/src/__pycache__/resources_rc.cpython-311.pyc
MacOS/src/__pycache__/store_userid_version.cpython-311.pyc
MacOS/src/__pycache__/ui_mainwindow.cpython-311.pyc
MacOS/User/last_cal_data.parquet
MacOS/User/settings.yaml
MacOS/src/__pycache__/send_file.cpython-311.pyc
Windows/src/__pycache__/changeyaml.cpython-310.pyc
Windows/src/__pycache__/get_calendar_data.cpython-310.pyc
Windows/src/__pycache__/get_response_key.cpython-310.pyc
Windows/src/__pycache__/resources_rc.cpython-310.pyc
Windows/src/__pycache__/store_userid_version.cpython-310.pyc
Windows/src/__pycache__/ui_mainwindow.cpython-310.pyc
